:root {
  --font-primary: "Poppins", Arial, sans-serif;
  --font-secondary: "Rubik", Arial, sans-serif;
  --principal-1: #ff4700;
  --principal-2: #020100;
  --principal-3: #ffffff;
  --complementario-1: #9c9c9c;
  --complementario-2: #ffa37f;
  --complementario-3: rgb(77, 77, 77);
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: top;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  background: var(--principal-1);
  background-size: 400% 400%;
  animation: gradientAnimation 10s ease infinite;
}

h1 {
  font-family: var(--font-secondary);
  font-style: italic;
  color: var(--principal-3);
  margin-top: 85px;
  margin-bottom: 1px;
  font-weight: 700;
  text-align: center;
  font-size: 100px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.description {
  font-family: var(--font-primary);
  font-size: 18px;
  color: var(--principal-3);
  width: 100%; /* Ocupa toda la fila debajo del iframe y h2 */
  text-align: center;
  margin: 0 auto; /* Centra el contenido horizontalmente */
  padding: 0 20px;
}

.header {
  display: flex;
  align-items: center; /* Centra verticalmente el contenido */
  justify-content: center; /* Centra el contenido horizontalmente (opcional) */
  gap: 15px; /* Espacio entre el h1 y la imagen */
}

.header-logo {
  margin-left: 10px;
  width: 380px; /* Ajusta el tamaño de la imagen */
  height: auto; /* Mantiene la proporción de la imagen */
}

.container {
  position: relative;
  background-color: var(--principal-3);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 1000px;
  width: 100%;
  overflow: hidden;
}

.persona {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "info-title info-container";
}

.info-title {
  text-align: left;
  display: flex;
  align-items: center;
  grid-area: info-title;
  gap: 0px;
  align-items: center;
  flex-wrap: wrap;
}

.card-img-star {
  width: 200px;
  height: 300px;
  border: none;
  box-shadow: none;
}

.type-star {
  font-family: var(--font-primary);
  font-size: 25px;
  color: gray;
  margin: 0;
  font-weight: 100;
}

.image-container {
  display: flex;
  justify-content: space-between;
  margin: 15px;
}

.foto {
  object-fit: contain;
  border-radius: 10px;
  height: 350px;
  margin: 0;
}

.image-container.single-image .foto {
  width: 100%;
}

.info-container {
  text-align: left;
  grid-area: info-container;
  margin: 0 20px;
}

.estrella {
  width: 50px;
  height: 50px;
  margin: 0;
}

.estrella-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.tipo-estrella {
  margin: 0 0 0 10px;
}

#nombre {
  margin: 0;
  font-family: var(--font-primary);
  font-size: 30px;
  margin-left: 20px;
  color: gray;
}

#mensaje {
  font-family: var(--font-primary);
  font-size: 25px;
  color: rgb(68, 68, 68);
  margin-top: 10px;
  margin-left: 20px;
  width: 100%; /* Ocupa toda la fila debajo del iframe y h2 */
  text-align: left;
}

@media (max-width: 768px) {
  .header {
    gap: 2px; /* Espacio entre el h1 y la imagen */
  }
  h1 {
    font-size: 50px;
    margin-top: 55px;
  }
  .header-logo {
    width: 200px;
    margin-top: 10px;
  }

  .description {
    max-width: 480px;
    font-size: 16px;
  }

  .container {
    max-width: 420px;
    margin-bottom: 20px;
  }

  .persona {
    display: grid;
    grid-template-columns: 1fr; /* Una sola columna */
    grid-template-areas:
      "info-title"
      "info-container"; /* Info-title arriba y info-container abajo */
  }

  .card-img-star {
    width: 130px; /* Tamaño del iframe */
    height: 130px; /* Tamaño del iframe */
    border: none; /* Eliminar el borde gris */
    box-shadow: none; /* Eliminar sombra */
  }
  .info-title {
    grid-area: info-title;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente */
    justify-content: center; /* Centra verticalmente */
    text-align: center; /* Centra el texto */
    padding: 10px; /* Opcional: añade espacio para un mejor diseño */
  }

  .type-star {
    font-size: 20px;
    margin-bottom: 5px;
  }
  #nombre {
    margin-top: 0px;
    margin-left: 0px;
    font-size: 28px;
  }

  #mensaje {
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    text-align: center;
    font-size: 18px;
  }

  #description {
    padding: 2px 10px 5px 10px;
    font-size: 15px;
  }

  .foto {
    border-radius: 5px;
    height: 350px;
  }
}
