body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: top;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(135deg, #FF4700, #ff7b00);
    background-size: 400% 400%;
    animation: gradientAnimation 10s ease infinite;
}

.header {
    display: flex;
    align-items: center; /* Centra verticalmente el contenido */
    justify-content: center; /* Centra el contenido horizontalmente (opcional) */
    gap: 15px; /* Espacio entre el h1 y la imagen */
    margin-bottom: 20px;
}

.header-logo {
    width: 80px; /* Ajusta el tamaño de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
}

.container {
    position: relative;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 1000px;
    width: 100%;
    overflow: hidden;
  }
  
  .container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: var(--background-image);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: right center;
    opacity: 0.5;
    z-index: 0;
    pointer-events: none;
  }
  
  .container * {
    position: relative;
    z-index: 1;
  }

h1 {
    font-family: 'Poppins', Arial, sans-serif;
    color: #ffffff;
    margin-bottom: 20px;
    font-weight: 200;
    text-align: center;
    font-size: 80px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 

}

.persona {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-areas:
        "info-title info-container";
}

.info-title {
    text-align: left;
    display: flex;
    align-items: center;
    grid-area: info-title;
    gap: 0px;
    align-items: center;
    flex-wrap: wrap;
}

.card-img-star {
    width: 170px; /* Tamaño del iframe */
    height: 200px; /* Tamaño del iframe */
    border: none; /* Eliminar el borde gris */
    box-shadow: none; /* Eliminar sombra */
}

.type-star {
    font-family: 'Poppins', Arial, sans-serif;
    font-size: 30px;
    color: gray;
    margin: 0;
    font-weight: 100;

}

.image-container {
    display: flex;
    justify-content: space-between;
    margin: 50px;
}

.foto {
    width: 48%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    height: 380px;

}

.image-container.single-image .foto {
    width: 100%;
}

.info-container {
    text-align: left;
    grid-area: info-container;
}

.estrella {
    width: 50px;
    height: 50px;
    margin: 0;

}

.estrella-box {
    display: flex;
    justify-content: flex-start;
    align-items: center; 
}

.tipo-estrella{
    margin: 0 0 0 10px;
}

#nombre{
    margin: 0;
    font-family: 'Poppins', Arial, sans-serif;
    font-size: 40px;
    margin-left: 20px;
    color: gray;
}

#mensaje {
    font-family: 'Poppins', Arial, sans-serif;
    font-size: 20px;
    color: rgb(68, 68, 68);
    margin-top: 10px;
    margin-left: 20px;
    width: 100%; /* Ocupa toda la fila debajo del iframe y h2 */
    text-align: left;
}

@media (max-width: 768px) {
.container {    
    max-width: 450px;
}

    .persona {
        display: grid;
        grid-template-columns: 1fr; /* Una sola columna */
        grid-template-areas:
            "info-title"
            "info-container"; /* Info-title arriba y info-container abajo */
    }

    .card-img-star {
        width: 120px; /* Tamaño del iframe */
        height: 120px; /* Tamaño del iframe */
        border: none; /* Eliminar el borde gris */
        box-shadow: none; /* Eliminar sombra */
    }
    .info-title {
        grid-area: info-title;
        display: flex;
        flex-direction: column;
        align-items: center; /* Centra horizontalmente */
        justify-content: center; /* Centra verticalmente */
        text-align: center; /* Centra el texto */
        padding: 10px; /* Opcional: añade espacio para un mejor diseño */
    }

    .type-star {
        font-size: 20px;
    }
    #nombre{
        margin-top: 0px;
        margin-left: 0px;
        font-size: 30px;
    }

    #mensaje {
        margin-top: 0px;
        margin-left: 0px;
        text-align: center;
    }

    h1 {
    font-size: 50px;
    }   
    
}
